*{
  padding: 0;
  margin: 0;
}

body{
 
}
.main{
    height: 100vh;
    background-image: linear-gradient(to right, #051937, #181c3b, #261f3e, #322240, #3d2642);
}
.main--images{
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  

}

.main--images img{
  width: 250px;
  height: 300px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
}


@media screen and (max-width: 600px){
  .main{
    height: 100vh;
  }
}